:root {
    --primary-color: #b89e7e;
    --secondary-color: #35322d;
    --background-color: #f8f5f0;
    --font-family-heading: 'lora', serif;
    --font-family-body: 'afacad', sans-serif;
}

body {
    background-color: #f8f5f0;
    margin: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

footer h3 {
    font-family: 'afacad', serif;
    font-size: 15px;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.footer-p {
    font-family: 'afacad', sans-serif;
    margin-top: 20px;
    font-size: 15px;
    color: var(--secondary-color);
    line-height: 1.5;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'afacad', sans-serif;
    font-size: 15px;
}

h1 {

    color: #b89e7e;
    font-family: 'lora', serif;
    font-weight: 400;
    font-size: 60px;
    text-align: right;
    margin: 0 30px 0 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 0;
    border-bottom: .5px solid var(--secondary-color);
}

.logo {
    width: 200px;
    height: auto;
}

header ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
}


header a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'afacad', sans-serif;
    font-size: 20px;
    margin: 0 10px;
}

.home-img-1 {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.column-1, .column-2 {
   
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    margin: 50px auto;
}


.who-h3 {
    display: inline-block;
    margin: 30px;
    text-align: justify;
    font-style: italic;
    font-family: 'afacad', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}

.what-p, .who-p {
    display: inline-block;
    text-align: justify;
    font-family: 'afacad', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}

.what-p {
    font-style: italic;
    margin: 30px;
}

.who-p {
    font-style: italic;
    margin: 0 30px;
}

.who-button, .what-button {
    display: inline-block;
    margin: 15px 15px 15px 30px;
    padding: 5px 10px;
    color: var(--font-family-body)
    border: 0.5px solid var(--primary-color);
    cursor: pointer;
    font-family: 'afacad', sans-serif;
    font-size: 15px;
}

.hello-button {
    display: block;
    position: fixed;
    right: 0;
    rotate: -90deg;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    color: var(--font-family-body)
    cursor: pointer;
    font-family: 'afacad', sans-serif;
    font-size: 20px;
    background-color: var(--background-color);
}

.hello-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.projects-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    font-family: 'afacad', sans-serif;
    font-size: 10px;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.line {
    font-size: 10px;
}

p {
    padding: 0 10px 0 0;
    font-family: 'afacad', sans-serif;
    font-size: 7px;
    color: var(--secondary-color);
}

@media (max-width: 600px) {
    body {
        margin: 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-size: 4px;
    }

    .footer-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    h1 {
        text-align: center;
        margin: 15px;
    }

    .column-1, .column-2 {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }

    .who-h3, .what-p, .who-p {
        text-align: center;
        margin: 15px;
    }

    .home-img-1 {
        width: 75%;
        height: auto;
    }

    .who-button, .what-button {
        margin: 15px auto;
        display: block;
    }

    .projects-home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        font-size: 6px;
    }

    .img {
        width: 100%;
        height: auto;
    }

    footer ul {
        font-size: 5px;
        padding: 0;
    }

    footer h3 {
        font-family: 'afacad', serif;
        font-size: 12px;
        margin-top: 0;
    }

    .footer-p {
        font-family: 'afacad', sans-serif;
        font-size: 10px;
    }

    footer a {
        font-size: 10px;
    }

  

}



footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'afacad', sans-serif;
    font-size: 8px;
}